.agenda__list { 
    list-style: none;
    padding-left: 0;
    margin: 0;

    margin-left: 20px;
    margin-bottom: 20px;
}

.agenda__item {
    margin: 0;
    margin-bottom: 10px;
       width: 300px;
       gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button__list{
display: flex;
}
.inputBox{
    width: 290px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.agenda__layout_list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.agenda__layout_item{
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 300px;
}

